{% extends "base.html" %}

{% block title %}Filtered{% endblock %}

{% block content %}
<h2>Currently Uploaded File: {{ uploaded_file }}</h2>
<br>
<h2>Download Filtered Summary CSV</h2>
<button onclick="window.location.href='{{ url_for('filtered.download_filtered_summary') }}'">
    <span class="material-icons">download</span> Download Filtered Summary CSV
</button>
<br>
<h2>Download Filtered Mapped CSV</h2>
<button onclick="window.location.href='{{ url_for('filtered.download_filtered_mapped') }}'">
    <span class="material-icons">download</span> Download Filtered Mapped CSV
</button>
<br>
<h2>Visualizations</h2>
<div>
    <h3>Quantity</h3>
    <div class="button-group">
        <button onclick="fetchVisualizationFiltered('Total Quantity', 'day')">
            <span class="material-icons">calendar_today</span> Daily Sales (Quantity)
        </button>
        <button onclick="fetchVisualizationFiltered('Total Quantity', 'week')">
            <span class="material-icons">date_range</span> Weekly Sales (Quantity)
        </button>
        <button onclick="fetchVisualizationFiltered('Total Quantity', 'month')">
            <span class="material-icons">calendar_view_month</span> Monthly Sales (Quantity)
        </button>
        <button onclick="fetchVisualizationFiltered('Total Quantity', 'year')">
            <span class="material-icons">calendar_today</span> Yearly Sales (Quantity)
        </button>
    </div>
</div>
<div>
    <h3>Amount</h3>
    <div class="button-group">
        <button onclick="fetchVisualizationFiltered('Total Amount', 'day')">
            <span class="material-icons">attach_money</span> Daily Sales (Amount)
        </button>
        <button onclick="fetchVisualizationFiltered('Total Amount', 'week')">
            <span class="material-icons">date_range</span> Weekly Sales (Amount)
        </button>
        <button onclick="fetchVisualizationFiltered('Total Amount', 'month')">
            <span class="material-icons">calendar_view_month</span> Monthly Sales (Amount)
        </button>
        <button onclick="fetchVisualizationFiltered('Total Amount', 'year')">
            <span class="material-icons">calendar_today</span> Yearly Sales (Amount)
        </button>
    </div>
</div>
<div>
    <h3>Shipping Methods</h3>
    <button onclick="fetchShippingVisualizationFiltered()">
        <span class="material-icons">local_shipping</span> Shipping Methods Distribution
    </button>
</div>
<div>
    <h3>Top Products</h3>
    <div class="button-group">
        <button onclick="fetchTopProductsFiltered('Total Amount')">
            <span class="material-icons">attach_money</span> Sort by Amount
        </button>
        <button onclick="fetchTopProductsFiltered('Total Quantity')">
            <span class="material-icons">sort</span> Sort by Quantity
        </button>
    </div>
    <div class="scrollable-table" id="top-products-table" style="display: none;">
        <table>
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Total Quantity</th>
                    <th>Total Amount</th>
                </tr>
            </thead>
            <tbody id="top-products-body">
                <!-- Top products will be injected here -->
            </tbody>
        </table>
    </div>
</div>
<div id="visualization" class="visualization-container"></div>
{% endblock %}
