<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Filtered Sales Data Visualization</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
  <body>
    <header>
      <h1>Filtered Sales Data Visualization</h1>
    </header>
    <main>
      <h2>Currently Uploaded File: {{ uploaded_file }}</h2>
      <br>
      <h2>Download Processed CSV</h2>
      <button onclick="window.location.href='/download_filtered'">
        <span class="material-icons">download</span> Download Filtered Summary CSV
      </button>
      <br>
      <h2>Index Page</h2>
      <button onclick="window.location.href='/'">
        <span class="material-icons">home</span> Go to Index Page
      </button>
      <br>
      <h2>Visualizations</h2>
      <div>
        <h3>Quantity</h3>
        <div class="button-group">
          <button onclick="fetchVisualization('Total Quantity', 'day')">
            <span class="material-icons">calendar_today</span> Daily Sales (Quantity)
          </button>
          <button onclick="fetchVisualization('Total Quantity', 'week')">
            <span class="material-icons">date_range</span> Weekly Sales (Quantity)
          </button>
          <button onclick="fetchVisualization('Total Quantity', 'month')">
            <span class="material-icons">calendar_view_month</span> Monthly Sales (Quantity)
          </button>
          <button onclick="fetchVisualization('Total Quantity', 'year')">
            <span class="material-icons">calendar_today</span> Yearly Sales (Quantity)
          </button>
        </div>
      </div>
      <div>
        <h3>Amount</h3>
        <div class="button-group">
          <button onclick="fetchVisualization('Total Amount', 'day')">
            <span class="material-icons">attach_money</span> Daily Sales (Amount)
          </button>
          <button onclick="fetchVisualization('Total Amount', 'week')">
            <span class="material-icons">date_range</span> Weekly Sales (Amount)
          </button>
          <button onclick="fetchVisualization('Total Amount', 'month')">
            <span class="material-icons">calendar_view_month</span> Monthly Sales (Amount)
          </button>
          <button onclick="fetchVisualization('Total Amount', 'year')">
            <span class="material-icons">calendar_today</span> Yearly Sales (Amount)
          </button>
        </div>
      </div>
      <div>
        <h3>Shipping Methods</h3>
        <button onclick="fetchShippingVisualization()">
          <span class="material-icons">local_shipping</span> Shipping Methods Distribution
        </button>
      </div>
      <div id="visualization" class="visualization-container"></div>
    </main>
    <script>
      function fetchVisualization(metric, period) {
        fetch(`/visualize_sales_filtered/${metric}/${period}`)
          .then(response => response.json())
          .then(data => {
            let plotDiv = document.getElementById('visualization');
            let parsedData = JSON.parse(data);
            Plotly.newPlot(plotDiv, parsedData.data, parsedData.layout);
          })
          .catch(error => console.error('Error fetching visualization:', error));
      }

      function fetchShippingVisualization() {
        fetch(`/visualize_shipping_methods_filtered`)
          .then(response => response.json())
          .then(data => {
            let plotDiv = document.getElementById('visualization');
            let parsedData = JSON.parse(data);
            Plotly.newPlot(plotDiv, parsedData.data, parsedData.layout);
          })
          .catch(error => console.error('Error fetching visualization:', error));
      }
    </script>
  </body>
</html>
