{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Upload Sales Data CSV</h2>
<form id="upload-form" action="{{ url_for('main.upload_file') }}" method="post" enctype="multipart/form-data" style="display: flex; align-items: center;">
    <input type="file" name="file">
    <button type="submit">
        <span class="material-icons">file_upload</span> Upload
    </button>
    {% if uploaded_file %}
    <span class="uploaded-file">Currently Uploaded File: {{ uploaded_file }}</span>
    {% endif %}
</form>
<br>
<h2>Upload Stock Data CSV</h2>
<form id="upload-stock-form" action="{{ url_for('main.upload_stock_file') }}" method="post" enctype="multipart/form-data" style="display: flex; align-items: center;">
    <input type="file" name="file">
    <button type="submit">
        <span class="material-icons">file_upload</span> Upload Stock Data
    </button>
    {% if uploaded_file %}
    <span class="uploaded-file">Currently Uploaded File: {{ uploaded_file }}</span>
    {% endif %}
</form>
<br>
<h2>Download Processed CSV</h2>
<button onclick="window.location.href='{{ url_for('main.download_file') }}'">
    <span class="material-icons">download</span> Download Summary CSV
</button>
<br>
<h2>Download Mapped CSV</h2>
<button onclick="window.location.href='{{ url_for('main.download_mapped_file') }}'">
    <span class="material-icons">download</span> Download Mapped CSV
</button>
<br>
<h2>Filtered Page</h2>
<button onclick="window.location.href='{{ url_for('filtered.filtered_index') }}'">
    <span class="material-icons">filter_list</span> Go to Filtered Page
</button>
<br>
<h2>Visualizations</h2>
<div>
    <h3>Quantity</h3>
    <div class="button-group">
        <button onclick="fetchVisualization('Total Quantity', 'day')">
            <span class="material-icons">calendar_today</span> Daily Sales (Quantity)
        </button>
        <button onclick="fetchVisualization('Total Quantity', 'week')">
            <span class="material-icons">date_range</span> Weekly Sales (Quantity)
        </button>
        <button onclick="fetchVisualization('Total Quantity', 'month')">
            <span class="material-icons">calendar_view_month</span> Monthly Sales (Quantity)
        </button>
        <button onclick="fetchVisualization('Total Quantity', 'year')">
            <span class="material-icons">calendar_today</span> Yearly Sales (Quantity)
        </button>
    </div>
</div>
<div>
    <h3>Amount</h3>
    <div class="button-group">
        <button onclick="fetchVisualization('Total Amount', 'day')">
            <span class="material-icons">attach_money</span> Daily Sales (Amount)
        </button>
        <button onclick="fetchVisualization('Total Amount', 'week')">
            <span class="material-icons">date_range</span> Weekly Sales (Amount)
        </button>
        <button onclick="fetchVisualization('Total Amount', 'month')">
            <span class="material-icons">calendar_view_month</span> Monthly Sales (Amount)
        </button>
        <button onclick="fetchVisualization('Total Amount', 'year')">
            <span class="material-icons">calendar_today</span> Yearly Sales (Amount)
        </button>
    </div>
</div>
<div>
    <h3>Shipping Methods</h3>
    <button onclick="fetchShippingVisualization()">
        <span class="material-icons">local_shipping</span> Shipping Methods Distribution
    </button>
</div>
<div>
    <h3>Top Products</h3>
    <div class="button-group">
        <button onclick="fetchTopProducts('Total Amount')">
            <span class="material-icons">attach_money</span> Sort by Amount
        </button>
        <button onclick="fetchTopProducts('Total Quantity')">
            <span class="material-icons">sort</span> Sort by Quantity
        </button>
    </div>
    <div class="scrollable-table" id="top-products-table" style="display: none;">
        <table>
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Total Quantity</th>
                    <th>Total Amount</th>
                </tr>
            </thead>
            <tbody id="top-products-body">
                <!-- Top products will be injected here -->
            </tbody>
        </table>
    </div>
</div>
<div id="visualization" class="visualization-container"></div>
{% endblock %}
